.wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  background-color: #f3f4f6;
  border-radius: 0.75rem;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #f3f4f6;
}

.fallbackIcon {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.6;
}